#app{
    width: 100%;
    height:100%;
    background-color: darkcyan;
}

.line{
    height: 6px;
    width: 70px;
    margin: 8px;
    background-color: aquamarine;
}

#game{
    width:100%;
    height: 800px;
    background-color: darkorchid;
}

img{
 transition: transform .2s;    
}

img:hover{
    transform: scale(0.9);
}